/* -- scss:import --*/

@import 'https://fonts.googleapis.com/css?family=DM+Sans';
@import 'https://fonts.googleapis.com/css?family=Fira+Code';
@import 'https://fonts.googleapis.com/css?family=Lora';

/*-- scss:defaults --*/

// define variables for later
$primary: black;
$red: #c8102f;
$grey: grey;
$lightgrey: #e3e1e1;

// font families
$font-family-serif: 'DM Sans';
$font-family-sans-serif: 'DM Sans';
$font-family-monospace: 'Fira Code';

// font-sizes
$presentation-font-size-root: 35px;

// font colours
$body-color: $primary;
$link-color: $grey !default;
$presentation-heading-color: $red;

// font-styles
$presentation-heading-font-weight: 550;

// code blocks
$code-block-bg: $lightgrey;
$code-block-border-color: $lightgrey;

// layout;
$presentation-heading-line-height: 1;
$h1-margin-bottom: 20%;
$h1-font-size: 40px;

/*-- scss:rules --*/

#title-slide {

  .title,
  .subtitle {
    opacity: 0.80;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 600;
    font-family: $font-family-serif;
  }

  .title {
    font-size: 35px !important;
    margin-bottom: 2%;
    color: $primary !important;
  }

  .subtitle {
    font-size: 35px !important;
    margin-bottom: 5%;
    color: $primary;
  }

  .quarto-title-author {
    margin-right: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: $red;
  }

  .quarto-title-author-name {
    font-size: 30px;
    font-weight: bold;
    font-family: $font-family-sans-serif;
  }

  .quarto-title-affiliation {
    font-size: 25px;
    color: $grey;
  }

  .quarto-title-author-orcid {
    img {
      margin-bottom: 4px;
    }
  }

  .author-twitter {
    img {
      margin-bottom: 4px;
    }
  }

  .affiliation-logo {
    img {
      height: 70px;
      display: inline-block;
      position: relative;
      margin-right: 4%;
      margin-bottom: 4%;
    }
  }

  .media-icon {
    img {
      display: inline-block;
      position: relative;
      bottom: 0px;
      height: 25px !important;
      margin-top: 1%;
      margin-right: 1%;
      vertical-align: middle;
    }

    p {
      display: inline-block;
      position: relative;
      bottom: 0px;
      font-family: $font-family-monospace;
      font-size: 30px;
      margin-top: 1%;
      margin-right: 1%;
      color: black
    }
  }

  .conference {
    p {
      font-size: 20px;
      bottom: 0;
      font-family: $font-family-monospace;
      color: grey;
    }
  }

}

.inverse {
  .slide-background-content {
    background-color: #fff0ab;
  }

  h1,
  h2,
  h3,
  p,
  a,
  li,
  ul {
    color: black;
  }
}


.aside {
  color: $lightgrey;
  font-size: 15px;
  text-align: right;
}

.callout {
  background-color: $lightgrey;
}


.date {
  font-size: 40px;
}

.reveal .slide-number>a[href*='title-slide'] {
  display: none;
  font-size: 2em;
}

.smaller {
  font-size: 20px;

  .math.display,
  .mtex,
  .MathJax {
    font-size: 1% !important;
  }
}

footer {
  height: 75px;
  width: 50%;
  position: absolute;
  left: 25%;
  bottom: -30px;
  text-align: center;
  justify-content: center;

  img {
    display: block;
  }
}

.reveal {
  .slide-number {
    a {
      font-size: 1.5em;
    }
  }

  table {
    font-size: 0.75em;
  }

  .slides {
    .slide {

      blockquote {
        border-left: 5px solid $text-muted;
        border-color: $red;
        color: $red;
        padding-left: 1.5em;
        font-size: 25px;
      }

      .box {

        em,
        td,
        th {
          font-size: 1em;
        }

        p {
          font-size: 25px;
        }

        margin-top: 0.65em;
        margin-bottom: 0.65em;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        padding-left: 0.65em;
        padding-right: 0.25em;
        background: $lightgrey;
      }

      h1,
      h2,
      h3 {
        margin-top: 7%;
        margin-bottom: 5%;
        font-weight: bolder;
        font-family: $font-family-serif;
      }

      h2 {
        font-size: 35px;
        color: black;
      }

      p,
      li,
      ul,
      dl,
      h3 {
        font-size: 28px;
      }

      #MathJax-span .math.display .MathJax {
        font-size: 50% !important;
      }

      .citation {
        font-size: 0.65em;
      }

      img+p.caption {
        font-size: 0.6em;
        margin-top: 3%;
        margin-right: 5%;
        text-align: right;
        overflow-wrap: normal;
      }
    }
  }
}

.highlight {
  background-color: grey;
  color: black;
  font-size: 55px;
  opacity: 1;
}

.thanks {
  p {
    font-size: 150px;
    font-weight: bold;
    font-family: $font-family-serif;
  }
}